<h1>Hola</h1>
<% @companies.each do |company| %>
    <%= button_to "#{company.name}",  company_stations_path(company), method: :get, class:"cmp-index-btn-lgt" %>
<% end %>

<%= button_to " LOG OUT ",  destroy_user_session_path, method: :delete, class:"cmp-index-btn-lgt" %>